@import "animation";

.sidenav {
  grid-area: sidenav;
  background: $background-secondary;
  padding: 30px;

  &__list__item a {
    display: block;
    min-width: 60px;
    max-width: 150px;
    margin: 0 auto 30px auto;
    background: $white-color;
    padding: 20px;
    border-radius: $border-radius;
    text-align: center;
    box-shadow: $shadow-primary;
    transition: background 0.2s ease;
    &:hover {
      background: $primary-hover-color;
    }
  }
}

@import "responsive";
