.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 30px;
  gap: 30px;
}
.anuncios .anuncio-item img {
  width: 100%;
  border-radius: var(--borderRadius);
}
