.explore {
  position: fixed;
  top: 95vh;
  left: 0;

  display: flex;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 110%;
  background: rgb(255, 253, 146);
  transition: all ease 1s;

  &_come-down {
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      background-color: transparent;
      border: none;

      span {
        color: #000;
        transform: rotate(181deg);
        font-size: 28px;
        display: inline-block;
        top: -9px;
      }
    }
  }

  & .footer--arrowButton {
    position: absolute;
    top: 80px;
    left: 50%;
    background: rgb(195, 25, 82);
    z-index: 2;

    transform: translateY(0px);
    animation: none;

    > i {
      font-size: 35px;
      color: #ffffff;
      transform: rotate(0deg);
    }
  }

  &__content {
    position: relative;
    height: 70%;
    width: 100%;
    bottom: -20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;

    &__banner {
      position: relative;
      width: 600px;
      height: 711px;

      .banner__searchBox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 231px;
        left: 103px;
        height: 100px;
        width: 316px;
        background-color: #ffffff;
        border-radius: 100px;
        z-index: 3;

        &__glass {
          display: flex;
          align-items: center;
          width: 32px;
          margin-right: 20px;

          img {
            width: 100%;
          }
        }

        &__text {
          color: rgb(110, 15, 60);
          font-size: 24px;
          font-weight: bold;
          max-width: 250px;
        }
      }

      .banner__img-1 {
        position: absolute;
        width: 204px;
        height: 285px;
        top: 150px;
        left: 0;
        z-index: 1;
      }
      .banner__img-2 {
        position: absolute;
        width: 164px;
        height: 258px;
        bottom: 116px;
        right: 62px;
        z-index: 1;
      }
      .banner__img-3 {
        position: absolute;
        width: 178px;
        height: 218px;
        top: 0px;
        right: 76px;
        z-index: 1;
      }
      .banner__img-4 {
        position: absolute;
        width: 298px;
        height: 456px;
        top: 88px;
        left: 148px;
        z-index: 2;
      }
    }

    &__heading {
      height: 50%;
      color: rgb(195, 25, 82);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .heading__title {
        font-size: 60px;
      }
      .heading__text {
        max-width: 400px;
        text-align: center;
        font-size: 24px;
      }
      .heading__button {
        background-color: rgb(195, 25, 82);
        color: rgb(255, 253, 146);
        cursor: pointer;
        border: none;
        border-radius: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        width: 93px;
        height: 48px;
      }
    }
    @media (max-width: 1060px) {
      &__banner {
        width: 500px;
        height: 600px;

        .banner__searchBox {
          left: 135px;
          width: 270px;
          &__text {
            font-size: 20px;
            max-width: 200px;
          }
        }

        .banner__img-1 {
          width: 168px;
          height: 249px;
          top: 164px;
          left: 20px;
        }
        .banner__img-2 {
          width: 115px;
          height: 185px;
          bottom: 70px;
          right: 57px;
        }
        .banner__img-3 {
          width: 134px;
          height: 174px;
          top: 35px;
          right: 60px;
        }
        .banner__img-4 {
          width: 238px;
          height: 342px;
          top: 127px;
          left: 153px;
        }
      }

      &__heading {
        .heading__title {
          font-size: 40px;
        }
        .heading__text {
          font-size: 18px;
        }
      }
    }

    @media (max-width: 830px) {
      & {
        height: 88%;
        bottom: -8%;
        flex-direction: column;
        &__banner {
          .banner__img-2 {
            bottom: -60px;
          }
        }

        &__heading {
          padding: 70px 0 0 0;
        }
      }
    }

    @media (max-width: 450px) {
      & {
        &__heading {
          .heading__title {
            font-size: 32px;
          }
          .heading__text {
            font-size: 14px;
          }
        }
      }
    }
  }

  &--show {
    top: -60px;
  }
}
