* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

*,
button,
input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}

*,
li {
  list-style: none;
}

.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px 15px 24px;
}
header h3 {
  color: #e60023;
  font-size: 20px;
  font-weight: 700;
}
header .toggle-mobile {
  transition: all ease 0.5s;
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 7;
}
header .toggle-mobile__line, header .toggle-mobile::after, header .toggle-mobile::before {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #000;
  position: absolute;
  transition: all ease 0.5s;
}
header .toggle-mobile::before {
  content: "";
  top: 5px;
}
header .toggle-mobile::after {
  content: "";
  bottom: 5px;
}
header .toggle-mobile--showToggle::before {
  top: 50%;
  transform: rotate(45deg);
}
header .toggle-mobile--showToggle::after {
  bottom: 13px;
  transform: rotate(132deg);
}
header .toggle-mobile--showToggle .toggle-mobile__line {
  opacity: 0;
}
@media (max-width: 700px) {
  header .toggle-mobile {
    opacity: 1;
    visibility: visible;
  }
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 16px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  font-weight: 700;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav .buttons {
  display: flex;
  margin-left: 24px;
}
header nav .buttons button {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .buttons .login {
  color: #fff;
  background: #e60023;
  transition: all ease 0.3s;
}
header nav .buttons .login:hover {
  background: #af0000;
}
header nav .buttons .singup {
  margin-left: 16px;
  background: #efefef;
  transition: all ease 0.3s;
}
header nav .buttons .singup:hover {
  background: #a0a0a0;
}
@media (max-width: 700px) {
  header nav.nav--showMobile {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  header nav {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -200px;
    left: 0;
    z-index: 6;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
    flex-direction: column;
  }
  header nav ul {
    flex: 1;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 20px;
  }
  header nav ul li a {
    font-size: 24px;
  }
  header nav .buttons {
    margin-left: 0;
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
  }
  header nav .buttons .login {
    flex: 1;
  }
  header nav .buttons .singup {
    flex: 1;
    background: #a0a0a0;
  }
}
@media (max-width: 400px) {
  header nav .buttons {
    flex-direction: column;
    gap: 20px;
  }
  header nav .buttons .singup {
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  header {
    flex-direction: row-reverse;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}
.heading .text {
  font-size: 60px;
  font-weight: 600;
}
.heading .wrapper {
  position: relative;
}
.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}
.heading .wrapper .text {
  white-space: nowrap;
  color: #e60023;
  transition-duration: 1s;
}
@media (max-width: 620px) {
  .heading .text {
    font-size: 46px;
  }
}
@media (max-width: 400px) {
  .heading .text {
    font-size: 32px;
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 800px) {
  .grid-container {
    transform: translateY(-200px);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 252px);
  visibility: hidden;
  pointer-events: none;
  max-height: 0px;
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(7, 152px);
  }
}
.grid.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.column:nth-child(1) {
  margin-top: 0;
  transition: 0s;
}
.column:nth-child(2) {
  margin-top: 160px;
  transition: 0.2s;
}
.column:nth-child(3) {
  margin-top: 320px;
  transition: 0.4s;
}
.column:nth-child(4) {
  margin-top: 480px;
  transition: 0.6s;
}
.column:nth-child(5) {
  margin-top: 320px;
  transition: 0.8s;
}
.column:nth-child(6) {
  margin-top: 160px;
  transition: 1s;
}
.column:nth-child(7) {
  margin-top: 0px;
  transition: 1.2s;
}

.item {
  width: 236px;
  height: 350px;
  background-color: #e60023;
  border-radius: 10px;
  overflow: hidden;
}
.item:not(:first-child) {
  margin-top: 16px;
}
.item > img {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 800px) {
  .item {
    width: 137px;
    height: 207px;
  }
}

.footer {
  width: 100%;
  height: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #ffffff 20%, transparent);
  transition: all ease 0.5s;
}
.footer.footer-disappear {
  opacity: 0;
  visibility: hidden;
}

.footer--arrowButton {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 100%;
  background: #e60023;
  transform: translateY(170px);
  cursor: pointer;
  animation: animate-button 1s infinite alternate ease-in-out;
}
.footer--arrowButton > i {
  font-size: 35px;
  color: #ffffff;
  transform: rotate(180deg);
}

@keyframes animate-button {
  to {
    transform: translateY(140px);
  }
}
.explore {
  position: fixed;
  bottom: -100vh;
  left: 0;
  display: flex;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 110%;
  background: #fffd92;
  transition: all ease 1s;
}
.explore_come-down {
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore_come-down__button {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.explore_come-down__button span {
  color: #000;
  transform: rotate(181deg);
  font-size: 28px;
  display: inline-block;
  top: -9px;
}
.explore .footer--arrowButton {
  position: absolute;
  top: 80px;
  left: 50%;
  background: #c31952;
  z-index: 2;
  transform: translateY(0px);
  animation: none;
}
.explore .footer--arrowButton > i {
  font-size: 35px;
  color: #ffffff;
  transform: rotate(0deg);
}
.explore__content {
  position: relative;
  height: 70%;
  width: 100%;
  bottom: -20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.explore__content__banner {
  position: relative;
  width: 600px;
  height: 711px;
}
.explore__content__banner .banner__searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 231px;
  left: 103px;
  height: 100px;
  width: 316px;
  background-color: #ffffff;
  border-radius: 100px;
  z-index: 3;
}
.explore__content__banner .banner__searchBox__glass {
  display: flex;
  align-items: center;
  width: 32px;
  margin-right: 20px;
}
.explore__content__banner .banner__searchBox__glass img {
  width: 100%;
}
.explore__content__banner .banner__searchBox__text {
  color: #6e0f3c;
  font-size: 24px;
  font-weight: bold;
  max-width: 250px;
}
.explore__content__banner .banner__img-1 {
  position: absolute;
  width: 204px;
  height: 285px;
  top: 150px;
  left: 0;
  z-index: 1;
}
.explore__content__banner .banner__img-2 {
  position: absolute;
  width: 164px;
  height: 258px;
  bottom: 116px;
  right: 62px;
  z-index: 1;
}
.explore__content__banner .banner__img-3 {
  position: absolute;
  width: 178px;
  height: 218px;
  top: 0px;
  right: 76px;
  z-index: 1;
}
.explore__content__banner .banner__img-4 {
  position: absolute;
  width: 298px;
  height: 456px;
  top: 88px;
  left: 148px;
  z-index: 2;
}
.explore__content__heading {
  height: 50%;
  color: #c31952;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.explore__content__heading .heading__title {
  font-size: 60px;
}
.explore__content__heading .heading__text {
  max-width: 400px;
  text-align: center;
  font-size: 24px;
}
.explore__content__heading .heading__button {
  background-color: #c31952;
  color: #fffd92;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 93px;
  height: 48px;
}
@media (max-width: 1060px) {
  .explore__content__banner {
    width: 500px;
    height: 600px;
  }
  .explore__content__banner .banner__searchBox {
    left: 135px;
    width: 270px;
  }
  .explore__content__banner .banner__searchBox__text {
    font-size: 20px;
    max-width: 200px;
  }
  .explore__content__banner .banner__img-1 {
    width: 168px;
    height: 249px;
    top: 164px;
    left: 20px;
  }
  .explore__content__banner .banner__img-2 {
    width: 115px;
    height: 185px;
    bottom: 70px;
    right: 57px;
  }
  .explore__content__banner .banner__img-3 {
    width: 134px;
    height: 174px;
    top: 35px;
    right: 60px;
  }
  .explore__content__banner .banner__img-4 {
    width: 238px;
    height: 342px;
    top: 127px;
    left: 153px;
  }
  .explore__content__heading .heading__title {
    font-size: 40px;
  }
  .explore__content__heading .heading__text {
    font-size: 18px;
  }
}
@media (max-width: 830px) {
  .explore__content {
    padding: 0;
    height: 88%;
    bottom: -8%;
    flex-direction: column;
  }
  .explore__content__banner .banner__img-2 {
    bottom: -60px;
  }
  .explore__content__heading {
    z-index: 2;
    background: #fffd92;
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  .explore__content__heading .heading__title {
    font-size: 32px;
  }
  .explore__content__heading .heading__text {
    font-size: 14px;
  }
}
.explore--show {
  bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
