@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Overlock+SC&family=Poppins:wght@400;500;700&family=Titillium+Web:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
a {
  text-decoration: none;
}

.conteiner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

/* Banner inicial */
.banner {
  height: 800px;
  background-image: url(../img/bg_farmelhor_banner.webp);
  background-position: top;
  background-size: cover;
}
.banner-conteudo {
  padding-top: 80px;
}
header {
  padding-left: 50px;
  display: flex;
}
.telefone {
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  background-color: rgb(161, 18, 23);
  border-radius: 5px;
  margin-right: 115px;
  font-weight: 700;
}
.telefone:hover {
  background-color: rgb(177, 19, 25);
}

.logo {
  width: 260px;
  height: 45px;
  background-image: url(../img/far_melhor.webp);
  background-size: cover;
  background-position: center;
  margin-left: 110px;
}
/* artigo de entrega gratis */
article.banner-entrega {
  width: 100%;
  display: flex;
}

.entrega-conteudo {
  color: white;
  width: 50%;
  padding-top: 100px;
  padding-left: 40px;
  position: relative;
}
.entrega-conteudo h1 {
  margin-left: 20px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: montserrat;
}

.entrega-conteudo h2 {
  color: #db9600;
  font-size: 40px;
  font-family: montserrat;
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  width: 480px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.entrega-conteudo p {
  margin-top: 10px;
  font-family: montserrat;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 100px;
}
.entrega-conteudo p strong {
  font-family: montserrat;
  font-weight: 700;
  font-size: 18px;
}
.pontos {
  position: absolute;
  top: 285px;
  left: -10px;
  font-size: 7px;
  color: #db9600;
}
.pontos i {
  margin: 3px;
}

.entrega-conteudo a {
  color: white;
  padding: 20px 95px;
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  background-color: #25d366;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  margin-left: 55px;
}
.entrega-conteudo a i {
  position: absolute;
  right: 50px;
  font-size: 30px;
}

.boneco {
  width: 50%;
}

.boneco-conteudo {
  margin: auto;
  width: 400px;
  height: 580px;
  background-image: url(../img/farmaceutico-farmelhor.webp);
  background-position: center;
  background-size: cover;
  z-index: 30;
  position: relative;
}
.boneco-conteudo::after {
  content: '';
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: url(../img/farmaceutico-farmelhor.webp);
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  z-index: 30;
}

.boneco-conteudo div:first-child {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: -10px;
  background-image: url(../img/Farmelhor_cone.png);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.boneco-conteudo div:nth-child(2) {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 100px;
  left: 80px;
  background-image: url(../img/Farmelhor_cone.png);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

/* SEÇÃO DE PRODUTOS */

.produtos {
  border-bottom: 4px solid #a11217;
}
section.produtos-conteudo {
  border: 1px solid transparent;
  position: relative;
}
.produtos-titulo {
  width: 800px;
  top: -60px;
  left: 200px;
  margin: auto;
  position: absolute;
  color: white;
  background-color: rgb(82, 82, 82);
  border-radius: 10px;
  padding: 40px 160px;
  font-family: montserrat;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

/* .lista-produtos * {
  border: 1px solid red;
} */
.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.card--produto {
  width: 260px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}
.card--produto:hover {
  box-shadow: 0px 5px 5px gray;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card--produto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.card--produto:nth-child(3) img {
  width: 100%;
}
.card--produto h5 {
  height: 42px;
  font-family: montserrat;
  font-size: 17px;
  margin-bottom: 40px;
}

.card--produto p {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 700;
  color: rgb(148, 148, 148);
  text-decoration: line-through rgb(148, 148, 148);
}

.card--produto h4 {
  font-family: montserrat;
  font-size: 20px;
  font-weight: 700;
  color: #db9600;
}

/* Seção de avaliações */

.testemunhos {
  margin-bottom: 50px;
}

.testemunhos-banner {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.testemunhos-banner h1 {
  color: rgba(221, 221, 221, 0.863);
  font-family: montserrat;
  font-size: 120px;
}
.testemunhos-banner h3 {
  color: rgb(112, 112, 112);
  font-family: montserrat;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  top: 80px;
  right: 35%;
}

.testemunhos-banner p {
  font-family: montserrat;
  font-size: 18px;
  color: rgb(93, 93, 93);
  margin-top: 10px;
}
.testemunhos-banner i {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: orange;
}

.testemunhos-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.testemunhos-cards img {
  margin: 10px 20px;
}

/* Rodapé do site */

.rodape {
  border-top: 4px solid #a11217;
}

footer {
  padding: 40px 150px;
}

.rodape-conteudo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rodape-detalhes:nth-child(1) {
  width: 300px;
  border-bottom: 1px solid #a11217;
  margin-right: 30px;
}
.rodape-detalhes:nth-child(1) img {
  width: 200px;
}
.rodape-detalhes:nth-child(1) p {
  color: #b92a2fe1;
  font-family: montserrat;
  font-size: 13px;
  margin: 30px 0;
}
.rodape-detalhes:nth-child(2) {
  max-width: 500px;
  border-bottom: 1px solid #a11217;
  padding: 20px;
}

.rodape-tel i {
  color: #a11217;
  margin-right: 10px;
}

.rodape-local p {
  display: inline-block;
  width: 90%;
  margin-top: 20px;
  color: #b92a2fe1;
  font-family: montserrat;
  font-size: 13px;
}
.rodape-local i {
  font-size: 20px;
  color: #a11217;
  margin-right: 10px;
  margin-bottom: 5px;
}

.rodape-pagamento h5 {
  margin-top: 20px;
  color: #b92a2fe1;
  font-family: montserrat;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.rodape-pagamento i {
  margin-top: 15px;
  color: #a11217;
  font-size: 40px;
  margin-right: 10px;
}
