@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secondary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
  border: none;
  font-size: 1.6rem;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.btn {
  background: -webkit-linear-gradient(to right, #9600aa, #7b00c2);
  background: linear-gradient(to right, #9600aa, #7b00c2);
  cursor: pointer;
  border-radius: 2px;
  font-family: var(--font-action);
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  transition: letter-spacing ease 0.2s, width ease 0.2s;
}
img {
  width: 100%;
}

#link-topo {
  position: fixed;
  right: 4.8rem;
  bottom: 4.8rem;
  width: 3.2rem;
  font-size: 2.3rem;
}

#link-topo i {
  font-size: 2.3rem;
  color: #7b00c2;
}

/* Menu burger */
@import "./components/menuBurger.scss";

/* titles */

@import "./components/sectionHeading.scss";
