@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secondary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
  border: none;
  font-size: 1.6rem;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.btn {
  background: -webkit-linear-gradient(to right, #9600aa, #7b00c2);
  background: linear-gradient(to right, #9600aa, #7b00c2);
  cursor: pointer;
  border-radius: 2px;
  font-family: var(--font-action);
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  transition: letter-spacing ease 0.2s, width ease 0.2s;
}

.burger {
  width: 3.5rem;
  height: 2.5rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: right 0.5s;
}
img {
  width: 100%;
}

.burger.burger--close {
  right: 26rem;
}

.burger__line {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #9600aa, #7b00c2);
  /* box-shadow: 0.1rem 0.1rem 1px #000; */
  box-shadow: 0.3rem 0.3rem 3px #000;
  transition: all 1s;
}

.burger.burger--close .burger__line {
  box-shadow: none;
}
.burger.burger--close .burger__line:nth-child(1) {
  transform: translateY(11px) rotate(224deg);
}
.burger.burger--close .burger__line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  width: 0%;
}
.burger.burger--close .burger__line:nth-child(3) {
  transform: translateY(-12px) rotate(-224deg);
}

.burger span {
  position: absolute;
  top: -4px;
  left: 3.8rem;
  opacity: 0;
  visibility: hidden;
  height: 3.2rem;
  width: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a044ff;
  color: #fff;
  font-family: var(--font-action);
  transition: all 0.5s;
}

.burger.burger--close:hover span {
  left: 4.8rem;
  opacity: 1;
  visibility: visible;
}

.burger span::before {
  content: "";
  position: absolute;
  border-right: 0.8rem solid #a044ff;
  border-top: 0.8rem solid transparent;
  border-left: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  left: -1.6rem;
}

#link-topo {
  position: fixed;
  right: 4.8rem;
  bottom: 4.8rem;
  width: 3.2rem;
  font-size: 2.3rem;
}

#link-topo i {
  font-size: 2.3rem;
  color: #7b00c2;
}
