.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 30px;
}

.content img {
  border-radius: var(--borderRadius);
}

.col-wide {
  grid-column: 1/-1;
}

.image-1 {
  grid-row: span 2;
  align-self: end;
}
.image-2 {
  align-self: end;
}

/* estilos do content */

p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.006rem;
  color: rgba(0, 0, 0, 0.8);
}
.informacoes p + p {
  margin-top: 30px;
}

.titulo {
  color: #b07dfb;
}
.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.975rem;
  font-style: italic;
}

/* caracteristicas */

.caracteristicas {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.caracteristicas > div {
  width: 80px;
  text-align: center;
  border-radius: var(--borderRadius);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
  z-index: -1;
}
.caracteristicas span {
  display: block;
  color: #b07dfb;
}

.numero {
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}

.rotulo {
  background: white;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.destaq {
  font-size: 0.975rem;
  color: #b07dfb;
  max-width: 16rem;
}

.citacao,
.atributos {
  align-self: flex-start;
  padding: 30px;
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.citacao p {
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.atributos li {
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
  border-bottom: 2px solid #b07dfb;
}

.atributos li:last-child {
  border: 0;
}

@import "responsive";
