.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  & img {
    border-radius: $border-radius;
  }
  & p {
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: -0.006rem;
    color: $primary-color;
  }

  &__image-1 {
    grid-row: span 2;
    align-self: end;
  }
  &__image-2 {
    align-self: end;
  }
  & &__contrast {
    font-size: 0.975rem;
    color: $secondary-color;
    max-width: 16rem;
  }

  &__information p + p {
    margin-top: 30px;
  }

  /*particulars (caracteristicas) */
  .particulars {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    &__box {
      width: 80px;
      text-align: center;
      border-radius: $border-radius;
      background: $gradient-static;
      box-shadow: $shadow-primary;
      position: relative;
      z-index: -1;
      & span {
        display: block;
        color: $secondary-color;
      }
      &__number {
        font-size: 3rem;
        line-height: 1;
        margin: 10px auto;
      }
      &__label {
        background: $white-color;
        border-radius: 0 0 $border-radius $border-radius;
        padding: 5px 0;
        position: relative;
        top: 2px;
      }
    }
  }

  //modificador da estrutura
  &--col-wide {
    grid-column: 1/-1;
  }
}

/* citation and attributes */

.citation,
.attributes {
  align-self: flex-start;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $shadow-primary;
  background: $gradient-static;
}

.citation {
  & &__paragraph {
    font-size: 1.5rem;
    font-style: italic;
    color: $white-color;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
}

.attributes {
  &__line {
    color: $white-color;
    font-family: Courier, monospace;
    font-size: 1.125rem;
    padding: 15px;
    border-bottom: 2px solid $secondary-color;

    &:last-child {
      border: 0;
    }
  }
}

@import "responsive";
