/* Secession projects */

.sessao-projetos__container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 20px;
  gap: 40px;
  flex-flow: wrap;
}
.card-project {
  width: 28.8rem;
  height: 40rem;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;

  @media (max-width: 1000px) {
    & .card-project__img-wrapper img {
      opacity: 0.5;
    }

    & .card-project__info {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.card-project__img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.card-project__img-wrapper img {
  object-fit: cover;
  height: 100%;
  transition: opacity ease 0.5s;
  opacity: 0.8;
}
.card-project:hover .card-project__img-wrapper img {
  opacity: 0.5;
}

.card-project:hover .card-project__info {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.card-project__info {
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 3.2rem;
  text-shadow: 0 1.6px 4.8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: end;
  transform: translateY(80px);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}

.card-project__info__title {
  font-family: var(--font-secondary);
  font-size: 3.2rem;
  font-weight: 500;
  color: #eee;
  margin-bottom: 10px;
}
.card-project__info__subtitle {
  margin-bottom: 10px;
  font-family: var(--font-action);
  font-weight: bolder;
  color: #ff4081;
}
.card-project__info__text {
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: #eee;
  text-align: justify;
}
.card-project__info__button {
  width: 14rem;
  height: 4rem;
  background: -webkit-linear-gradient(to right, #9600aa, #7b00c2);
  background: linear-gradient(to right, #9600aa, #7b00c2);
  cursor: pointer;
  border-radius: 2px;
  font-family: var(--font-action);
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  transition: letter-spacing ease 0.2s, width ease 0.2s;
}

.card-project__info__button:hover {
  letter-spacing: 0.4rem;
  width: 18rem;
}
