@import "animation";

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 200px;
    top: -50%;
    background: linear-gradient(135deg, #7e2cf8, #843af1, #b07dfb, #c7a1ff);
    animation: fundoHeader 10s infinite ease-in;
  }

  // Header Logo
  &__logo {
    height: auto;
    &__img {
      width: 200px;
      position: relative;
      transition: width 0.5s ease;
    }
  }

  // Nav do header

  &__nav__list {
    display: flex;
    gap: 15px;
    &__item {
      font-size: 1.1rem;
      position: relative;
      transition: font-size 0.5s ease;
      &::before {
        content: "";
        position: absolute;
        bottom: -17px;
        width: 100%;
        height: 2px;
        background-color: #4100a3;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s, bottom 0.5s;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
      & a {
        color: white;
        padding: 20px;
        display: block;
        text-transform: capitalize;
        transition: color 0.5s;
        text-align: center;
      }

      &:hover a {
        color: #4100a3;
      }
    }
  }
  // Button mobile
  &__toggleMobile {
    width: 25px;
    height: 25px;
    display: none;
    position: relative;
    z-index: 3;
    cursor: pointer;

    &__dash,
    &::before,
    &::after {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: white;
      top: 50%;
      position: absolute;
      z-index: 3;

      transition: all ease-in 0.3s;
    }
    &::before {
      content: "";
      top: 10%;
    }
    &::after {
      content: "";
      top: 90%;
    }
  }
  // Efeito do Toggle Mobile
  &--show .header__toggleMobile {
    & .header__toggleMobile__dash {
      opacity: 0;
      visibility: hidden;
    }
    &::before {
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: rotate(45deg);
    }
    &::after {
      opacity: 1;
      visibility: visible;
      top: 50%;
      transform: rotate(-45deg);
    }
  }

  /* Efeitos do header */
  &--minify {
    box-shadow: 0px 0px 20px 0px #843af1;
    height: 65px;

    & .header__logo__img {
      width: 150px;
    }

    & .header__nav__list__item {
      font-size: 1rem;
      &::before {
        bottom: -1px;
      }
    }
  }

  &--disappear {
    opacity: 0;
    height: 0;
  }
}

@import "responsive";
