@media (max-width: 600px) {
  .header {
    &__toggleMobile {
      display: block;
    }

    &__nav {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      height: 100%;
      width: 100%;
      top: -10rem;
      left: 0;
      background: $gradient-animation;
      display: flex;
      justify-content: center;
      transition: all ease 0.5s;
      &__list {
        margin: auto;
        flex-direction: column;
        gap: 30px;
        &__item {
          font-size: 1.5rem;
        }
      }
    }
    &--show .header__nav {
      opacity: 1;
      visibility: visible;
      top: 0;
      &__list__item {
        font-size: 1.5rem;
      }
    }
  }
}
