@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

:root {
  --borderRadius: 5px;
}

.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: "header header header" "sidenav content adverts" "footer footer footer";
  padding-top: 100px;
}

.title-container {
  color: #b07dfb;
}
.title-container__title {
  line-height: 1;
  font-weight: 700;
  line-height: 1;
  font-weight: 700;
}
.title-container__title--big {
  line-height: 1;
  font-weight: 700;
  font-size: 3.75rem;
}
.title-container__title--medium {
  font-size: 2.75rem;
}
.title-container__subtitle {
  font-style: italic;
}
.title-container__subtitle--big {
  font-style: italic;
  font-size: 1.2rem;
}
.title-container__subtitle--medium {
  font-style: italic;
  font-size: 0.975rem;
}

@media (max-width: 1200px) {
  .structure {
    grid-template-areas: "header header header" "sidenav content content" "sidenav adverts adverts" "footer footer footer";
  }
}
@media (max-width: 750px) {
  .structure {
    grid-template-columns: 1fr;
    grid-template-areas: "header " "sidenav " "content " "adverts" "footer";
  }
}
@media (max-width: 400px) {
  .title-container {
    color: #b07dfb;
  }
  .title-container__title--big {
    font-size: 2.75rem;
  }
  .title-container__subtitle--big {
    font-size: 0.975rem;
  }
}
@keyframes fundoHeader {
  0% {
    left: -50%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}
.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 1;
  /* Efeitos do header */
}
.header::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 200px;
  top: -50%;
  background: linear-gradient(135deg, #7e2cf8, #843af1, #b07dfb, #c7a1ff);
  animation: fundoHeader 10s infinite ease-in;
}
.header__logo {
  height: auto;
}
.header__logo__img {
  width: 200px;
  position: relative;
  transition: width 0.5s ease;
}
.header__nav__list {
  display: flex;
  gap: 15px;
}
.header__nav__list__item {
  font-size: 1.1rem;
  position: relative;
  transition: font-size 0.5s ease;
}
.header__nav__list__item::before {
  content: "";
  position: absolute;
  bottom: -17px;
  width: 100%;
  height: 2px;
  background-color: #4100a3;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s, bottom 0.5s;
}
.header__nav__list__item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.header__nav__list__item a {
  color: white;
  padding: 20px;
  display: block;
  text-transform: capitalize;
  transition: color 0.5s;
  text-align: center;
}
.header__nav__list__item:hover a {
  color: #4100a3;
}
.header__toggleMobile {
  width: 25px;
  height: 25px;
  display: none;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.header__toggleMobile__dash, .header__toggleMobile::before, .header__toggleMobile::after {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  top: 50%;
  position: absolute;
  z-index: 3;
  transition: all ease-in 0.3s;
}
.header__toggleMobile::before {
  content: "";
  top: 10%;
}
.header__toggleMobile::after {
  content: "";
  top: 90%;
}
.header--show .header__toggleMobile .header__toggleMobile__dash {
  opacity: 0;
  visibility: hidden;
}
.header--show .header__toggleMobile::before {
  opacity: 1;
  visibility: visible;
  top: 50%;
  transform: rotate(45deg);
}
.header--show .header__toggleMobile::after {
  opacity: 1;
  visibility: visible;
  top: 50%;
  transform: rotate(-45deg);
}
.header--minify {
  box-shadow: 0px 0px 20px 0px #843af1;
  height: 65px;
}
.header--minify .header__logo__img {
  width: 150px;
}
.header--minify .header__nav__list__item {
  font-size: 1rem;
}
.header--minify .header__nav__list__item::before {
  bottom: -1px;
}
.header--disappear {
  opacity: 0;
  height: 0;
}

@media (max-width: 600px) {
  .header__toggleMobile {
    display: block;
  }
  .header__nav {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: -10rem;
    left: 0;
    background: linear-gradient(135deg, #7e2cf8, #843af1, #b07dfb, #c7a1ff);
    display: flex;
    justify-content: center;
    transition: all ease 0.5s;
  }
  .header__nav__list {
    margin: auto;
    flex-direction: column;
    gap: 30px;
  }
  .header__nav__list__item {
    font-size: 1.5rem;
  }
  .header--show .header__nav {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  .header--show .header__nav__list__item {
    font-size: 1.5rem;
  }
}
@keyframes seta {
  0% {
    right: 30px;
  }
  100% {
    right: 20px;
  }
}
.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}
.sidenav__list__item a {
  display: block;
  min-width: 60px;
  max-width: 150px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: var(--borderRadius);
  text-align: center;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.14);
  transition: background 0.2s ease;
}
.sidenav__list__item a:hover {
  background: #b07dfb;
}

@media (max-width: 750px) {
  .sidenav {
    padding: 0 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 0;
  }
  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: #858585;
    font-size: 20px;
    animation: seta 0.8s infinite ease-in alternate;
  }
  .sidenav__list {
    display: flex;
    gap: 30px;
  }
  .sidenav__list__item {
    flex: 1;
    min-width: 75px;
  }
  .sidenav__list__item a {
    margin: 30px 0;
  }
}
.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  /*particulars (caracteristicas) */
}
.content img {
  border-radius: var(--borderRadius);
}
.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.006rem;
  color: rgba(0, 0, 0, 0.8);
}
.content__image-1 {
  grid-row: span 2;
  align-self: end;
}
.content__image-2 {
  align-self: end;
}
.content .content__contrast {
  font-size: 0.975rem;
  color: #b07dfb;
  max-width: 16rem;
}
.content__information p + p {
  margin-top: 30px;
}
.content .particulars {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.content .particulars__box {
  width: 80px;
  text-align: center;
  border-radius: var(--borderRadius);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
  z-index: -1;
}
.content .particulars__box span {
  display: block;
  color: #b07dfb;
}
.content .particulars__box__number {
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}
.content .particulars__box__label {
  background: white;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  padding: 5px 0;
  position: relative;
  top: 2px;
}
.content--col-wide {
  grid-column: 1/-1;
}

/* citation and attributes */
.citation,
.attributes {
  align-self: flex-start;
  padding: 30px;
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.citation .citation__paragraph {
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.attributes__line {
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
  border-bottom: 2px solid #b07dfb;
}
.attributes__line:last-child {
  border: 0;
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
  .content__contrast {
    margin: 0 auto;
  }
  .content .particulars {
    justify-content: center;
  }
}
.adverts {
  grid-area: adverts;
  background: #fafbfc;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(1, 1fr);
  padding: 30px;
  gap: 30px;
}
.adverts__content {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}
.adverts .title-container {
  grid-column: 1/-1;
}
.adverts__item {
  cursor: pointer;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
.adverts__item__link {
  position: relative;
  color: #b07dfb;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.adverts__item__link::before {
  content: "Saiba mais!";
  color: #b07dfb;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
.adverts__item__link:hover::before {
  font-size: 1.2rem;
  opacity: 1;
  visibility: visible;
}
.adverts__item img {
  width: 100%;
}

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #7e2cf8, #843af1, #b07dfb, #c7a1ff);
}
.footer__content {
  color: white;
  text-align: center;
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */
