@media (max-width: 1200px) {
  .structure {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav adverts adverts"
      "footer footer footer";
  }
}

@media (max-width: 750px) {
  .structure {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "sidenav "
      "content "
      "adverts"
      "footer";
  }
}
@media (max-width: 400px) {
  // Title
  .title-container {
    &__title {
      &.title--big {
        font-size: 2.75rem;
      }
    }

    &__subtitle {
      &.subtitle--big {
        font-size: 0.975rem;
      }
    }
  }
}
