
.banner{
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px ;
}




.banner-images{
    margin-top: 60px;
    
}


.banner-images img{
    width: 148px;
    height: 148px;
    border: 6px solid var(--corPadrao);
    border-radius: 50%;
    margin-right: 40px;
}