@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

:root{
    --corPadrao: #117050;
    --corBar:#006341;
    --corButton:#454545; 
}


body{
    /* font-family: 'Oswald', sans-serif; para titulos */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}



h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 20px 0;
    margin-bottom: 60px;
}


h2{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 20px 0;
}

.button{
    display: inline-block;
    border: 2px solid var(--corButton);
    padding: 10px 30px;
    border-radius: 3px;
    color: var(--corButton);
    text-decoration: none;
}


.button:hover{
    background-color: var(--corButton);
    color: #FFF;
}
























header .line{
    background-color: var(--corPadrao);
    height: 10px;
}

.container{
    max-width: 1140px;
    margin: auto;
}


.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.header--left img{
    width: 64px;
    height: 64px;
}







.header--right{
    display: flex;
    align-items: center;
}












.header--search form{
    display: flex;
}

.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border:1px solid #999999 ;
    outline: 0;
    width: 100%;
    max-width: 250px;
}


.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}



.header--menu{
    margin-left: 50px;
}

.header--menu img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

